<h2>Create New Discount</h2>

<%= form_with url: merchant_bulk_discounts_path, method: :post, local: true do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :percentage %>
  <%= f.number_field :percentage, min:0, max:100 %>
  <%= f.label :quantity_threshold, "Quantity Threshold" %>
  <%= f.number_field :quantity_threshold, min:1  %>
  <%= f.submit "Create"%>
<% end %>
